<template>
    <form v-on:submit.prevent v-if="character">
        <div class="form-field">
            <label for="name">
                Name
            </label>
            <input type="text" placeholder="Name" v-model="character.name">
        </div>
        <div class="form-field">
            <label for="date_of_birth">
                Date of Birth
            </label>
            <datetime name="date_of_birth" v-model="character.date_of_birth"
                      placeholder="YYYY-MM-DD"></datetime>
        </div>
        <div class="form-field">
            <label for="description">
                Description/Biography
            </label>
            <tinymce
                    rows="10"
                    v-model="character.description"
                    :status="false"
                    :plugins="tinyMcePlugins"
                    :other="tinyMceOptions">
            </tinymce>
        </div>
    </form>
</template>

<script>
    export default {
        name: "CharacterForm",
        props: {
            character: Object,
            route: String,
        },
        methods: {
            prepareForSave(character) {
                let newCharacter = _.clone(character);
                newCharacter.date_of_birth = this.moment(newCharacter.date_of_birth).format('YYYY-MM-DD');
                return newCharacter
            },
            submit() {
                let method = this.character["id"] ? "put" : "post";
                axios[method](this.route, this.prepareForSave(this.character)).then(response => {
                    this.$emit('saved', response.data);
                }).catch(e => {
                    console.error({e})
                })
            }
        }
    }
</script>

<style scoped>

</style>