<template>
    <form v-on:submit.prevent v-if="scene">
        <div class="form-field">
            <label for="name">
                Name
            </label>
            <input type="text" placeholder="Name" v-model="scene.name">
        </div>
        <div class="form-field">
            <label for="body">
                Scene
            </label>
            <tinymce
                    rows="10"
                    v-model="scene.body"
                    :status="false"
                    :plugins="tinyMcePlugins"
                    :other="tinyMceOptions">
            </tinymce>
        </div>
    </form>
</template>

<script>
    export default {
        name: "SceneForm",
        props: {
            scene: Object,
            route: String,
        },
        methods: {
            submit() {
                let method = this.scene["id"] ? "put" : "post";
                axios[method](this.route, this.scene).then(response => {
                    this.$emit('saved', response.data);
                }).catch(e => {
                    console.error({e})
                })
            }
        }
    }
</script>

<style scoped>

</style>