html {
  @extend %bg-brand-fade;
  background-size: 100% 70%;
  background-repeat: no-repeat;
  height: 100%;
}
#app {
  @apply mx-auto min-h-screen font-sans;

  .header {
    @apply p-4;
    min-height: 2em;

    ul {
      @apply list-reset flex w-full text-white;

      li {
        @apply block py-6 px-4 font-thin;

        a {
          @apply text-white no-underline;

          &:hover {
            @apply text-blue-lightest;
          }

          &.router-link-exact-active {
            @apply font-bold;
          }
        }

        &.head {
          @apply uppercase font-serif font-black;
        }
      }
    }
  }

  .content {
    @apply flex-1 p-4 shadow-lg bg-white;

    .page-component {
      @apply p-4;

      &.table {
        @apply text-blue w-full h-full;
      }

      .button-row {
        @apply my-4 text-right;
      }
    }
  }
}