$bright: rgba(100, 213, 202, 1);
$dim: rgba(52, 144, 220, 1);

%bg-brand {
  background: $bright;
  background: linear-gradient(0deg, $bright 0%, $dim 100%);
}

%bg-brand-fade {
  background: $bright;
  background: linear-gradient(0deg, rgba(100, 213, 202, 0) 0%, $bright 10%, $dim 100%);
}