.slide-up-enter, .slide-up-leave-to {
  transform: translate(-50%, 75%);
  transition: transform .5s ease;
}

.slide-up-enter-to, .slide-up-leave {
  transform: translate(-50%, -50%);
  transition: transform .5s ease;
}

.vdatetime-popup__header {
  @extend %bg-brand;
}
.vdatetime-calendar__month__day--selected > span > span, .vdatetime-calendar__month__day--selected:hover > span > span {
  background: $bright;
}
.vdatetime-popup__actions__button {
  color: $bright;
}