<template>
    <div id="journey" class="page-component">
        <h1>Journey</h1>

        <div class="timeline">
            <scene-card
                 v-for="(scene, index) in scenes"
                 :key="scene.id"
                 :class="{ 'first': index === 0, 'last': index === scenes.length - 1 }"
                 :scene="scene">
            </scene-card>
        </div>
    </div>
</template>

<script>
    export default {
        name: "StorylineView",
        components: {
            'scene-card': require('../../SceneCard.vue').default
        },
        data() {
            return {
                scenes: []
            }
        },
        mounted() {
            this.loadData();
        },
        beforeRouteUpdate(to, from, next) {
            this.loadData();
            next();
        },
        methods: {
            loadData() {
                axios.get('/data/scenes').then(response => {
                    this.scenes = response.data;
                }).catch(e => {
                    console.error({e})
                })
            },
        }
    }
</script>

<style scoped>

</style>