<template>
    <div class="form modal">
        <div class="modal-header">
            <h1>Create a New Character</h1>
            <button class="close-modal" @click="close"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-content">
            <character-form
                    :route="saveUrl"
                    :character="character"
                    ref="form"
                    v-on:saved="viewNewCharacter">
            </character-form>
        </div>
        <div class="modal-footer">
            <button @click="submit" class="btn-primary">Save Character</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Create",
        components: {
            'character-form': require("../../forms/Character.vue").default
        },
        data() {
            return {
                character: {
                    name: '',
                    date_of_birth: '',
                    description: '',
                },
                saveUrl: '/data/characters/',
            }
        },
        methods: {
            close() {
                this.$router.back();
            },
            viewNewCharacter(character) {
                this.$router.replace({name: 'character.view', params: {id: character.id}});
            },
            submit() {
                this.$refs.form.submit();
            },
        }
    }
</script>

<style>

</style>