<template>
    <div class="page-component table">
        <h1>Characters</h1>
        <div class="button-row">
            <button class="btn btn-primary" @click="newCharacter">
                <i class="fas fa-plus"></i> New Character
            </button>
        </div>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Tags</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="character in characters">
                <td class="w-1/5">{{ character.name }}</td>
                <td class="w-1/5">{{ character.date_of_birth }}</td>
                <td class="w-2/5">
                    <tag v-for="tag in character.tags"
                         :key="tag.id"
                         :object="character"
                         :tag="tag.tag"
                         :remove-route="untagRoute(character)"
                         v-on:tags-changed="changeTags"/>

                    <add-tag :object="character"
                             :add-route="tagRoute(character)"
                             v-on:tags-changed="changeTags"/>
                </td>
                <td class="w-1/5">
                    <button class="btn-primary" @click="viewCharacter(character)">
                        <i class="fas fa-eye"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <transition name="slide-up" mode="in-out">
            <router-view></router-view>
        </transition>
    </div>
</template>

<script>
    export default {
        name: "CharacterList",
        data() {
            return {
                characters: []
            }
        },
        mounted() {
            this.loadData();
        },
        beforeRouteUpdate(to, from, next) {
            this.loadData();
            next();
        },
        methods: {
            loadData() {
                axios.get('/data/characters').then(response => {
                    this.characters = response.data;
                }).catch(e => {
                    console.error({e})
                })
            },
            newCharacter() {
                this.$router.push({name: 'character.create'});
            },
            viewCharacter(character) {
                this.$router.push({name: 'character.view', params: {id: character.id}});
            },
            tagRoute(character) {
                return "/data/characters/" + character.id + "/tag/"
            },
            untagRoute(character) {
                return "/data/characters/" + character.id + "/untag/"
            },
            changeTags() {
                this.loadData();
            }
        }
    }
</script>

<style>

</style>