<template>
    <div class="form modal" v-if="character">
        <div class="modal-header">
            <h1>Character Detail</h1>
            <button class="close-modal" @click="close"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-content flex">
            <div class="w-2/3">
                <character-form
                        :route="saveUrl"
                        :character="character"
                        ref="form"
                        v-on:saved="handleSaved">
                </character-form>
            </div>
            <div class="w-1/3 pl-4">
                <h2 class="label">Tags</h2>
                <div class="tags">
                    <tag v-for="tag in character.tags"
                         :key="tag.id"
                         :object="character"
                         :tag="tag.tag"
                         :remove-route="untagRoute()"
                         v-on:tags-changed="changeTags"/>

                    <add-tag :object="character"
                             :add-route="tagRoute()"
                             v-on:tags-changed="changeTags"/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="flex mb-4">
                <div class="w-1/2">
                    <button @click="deleteCharacter" class="btn-danger"><i class="fas fa-trash"></i></button>
                </div>
                <div class="w-1/2 text-right">
                    <button @click="submit" class="btn-primary">Save Character</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CharacterView",
        components: {
            'character-form': require("../../forms/Character.vue").default
        },
        data() {
            return {
                character: {},
                saveUrl: '/data/characters/' + this.$route.params.id + '/',
            }
        },
        mounted() {
            this.loadData()
        },
        methods: {
            loadData() {
                axios.get('/data/characters/' + this.$route.params.id + '/').then(response => {
                    this.character = response.data;
                }).catch(e => {
                    console.error({e})
                })
            },
            deleteCharacter() {
                axios.delete('/data/characters/' + this.$route.params.id + '/').then(response => {
                    this.close();
                }).catch(e => {
                    console.error({e})
                })
            },
            close() {
                this.$router.back();
            },
            handleSaved(character) {
                this.close();
            },
            submit() {
                this.$refs.form.submit();
            },
            tagRoute() {
                return "/data/characters/" + this.character.id + "/tag/"
            },
            untagRoute() {
                return "/data/characters/" + this.character.id + "/untag/"
            },
            changeTags() {
                this.loadData();
            }
        }
    }
</script>

<style>

</style>