<template>
    <span class="character" v-click-outside="hide">
        <a href="#" @click.prevent="show"><i class="fas fa-user-plus"></i></a>
        <div class="modal-small" v-if="showing">
            <input type="text" class="modal-search" placeholder="Character name" v-model="query" ref="search"/>
            <div class="search-list">
                <div v-for="character in characters" :class="{ selected: isSelected(character.id), item: true }">
                    <a href="#" @click.prevent="addCharacter(character.id)">
                        <div class="w-full">
                            <p>
                                {{ character.name }} <i class="fas fa-check-circle float-right hidden"></i>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </span>
</template>

<script>
    export default {
        name: "AddCharacter",
        props: {
            scene: Object,
            addRoute: String,
        },
        data() {
            return {
                showing: false,
                query: "",
                characters: [],
                existingCharacters: [],
            }
        },
        watch: {
            query: function () {
                this.search()
            },
            object: function () {
                this.setExistingTags()
            }
        },
        mounted() {
            this.setExistingTags()
        },
        methods: {
            show() {
                this.showing = !this.showing;
                this.$nextTick(() => this.$refs.search.focus())
            },
            hide() {
                this.showing = false;
            },
            search() {
                this.characters = [];
                axios.get('/data/characters/search', {
                    params: {
                        query: this.query
                    }
                }).then(response => {
                    this.characters = response.data;
                }).catch(e => {
                    console.error({e})
                })
            },
            setExistingTags() {
                if (this.scene.characters) {
                    this.existingCharacters = this.scene.characters.map(function (item) {
                        return item.character.id;
                    });
                }
            },
            isSelected(id) {
                return this.existingCharacters.includes(id);
            },
            addCharacter(id) {
                if (this.addRoute && !this.isSelected(id)) {
                    axios.post(this.addRoute, {
                        character: id
                    }).then(response => {
                        this.$emit('characters-changed');
                        this.hide();
                    }).catch(e => {
                        console.error({e})
                    })
                }
            }
        },
    }
</script>

<style scoped>

</style>