<template>
    <span class="tag" v-click-outside="hide">
        <a href="#" @click.prevent="show"><i class="fas fa-plus"></i></a>
        <div class="modal-small" v-if="showing">
            <input type="text" class="modal-search" placeholder="Tag name" v-model="query" ref="search"/>
            <div class="search-list">
                <div v-for="tag in tags" :class="{ selected: isSelected(tag.id), item: true }">
                    <a href="#" @click.prevent="addTag(tag.id)">
                        <div class="w-full">
                            <p>
                                {{ tag.name }} <i class="fas fa-check-circle float-right hidden"></i>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </span>
</template>

<script>
    export default {
        name: "AddTag",
        props: {
            object: Object,
            addRoute: String,
        },
        data() {
            return {
                showing: false,
                query: "",
                tags: [],
                existingTags: [],
            }
        },
        watch: {
            query: function () {
                this.search()
            },
            object: function () {
                this.setExistingTags()
            }
        },
        mounted() {
            this.setExistingTags()
        },
        methods: {
            show() {
                this.showing = !this.showing;
                this.$nextTick(() => this.$refs.search.focus())
            },
            hide() {
                this.showing = false;
            },
            search() {
                this.tags = [];
                axios.get('/data/tags/search', {
                    params: {
                        query: this.query
                    }
                }).then(response => {
                    this.tags = response.data;
                }).catch(e => {
                    console.error({e})
                })
            },
            setExistingTags() {
                if (this.object.tags) {
                    this.existingTags = this.object.tags.map(function (item) {
                        return item.tag.id;
                    });
                }
            },
            isSelected(id) {
                return this.existingTags.includes(id);
            },
            addTag(id) {
                if (this.addRoute && !this.isSelected(id)) {
                    axios.post(this.addRoute, {
                        tag: id
                    }).then(response => {
                        this.$emit('tags-changed');
                        this.hide();
                    }).catch(e => {
                        console.error({e})
                    })
                }
            }
        },
    }
</script>

<style scoped>

</style>