<template>
    <span class="character" v-click-outside="hide" v-if="character">
        <a href="#" @click.prevent="show"><i class="fas fa-user"></i> {{ character.name }}</a>
        <div class="modal-small" v-if="showing">
            <button class="btn-danger" @click="removeCharacter(character.id)"><i class="fas fa-trash"></i></button>
        </div>
    </span>
</template>

<script>
    export default {
        name: "Character",
        props: {
            scene: Object,
            character: Object,
            removeRoute: String,
            interactive: {
                type: Boolean,
                default: true,
            }
        },
        data() {
            return {
                showing: false,
            }
        },
        methods: {
            show() {
                if (this.interactive){
                    this.showing = !this.showing;
                }
            },
            hide() {
                this.showing = false;
            },
            removeCharacter(characterId) {
                if (this.removeRoute) {
                    axios.delete(this.removeRoute, {
                        params: {
                            character: characterId
                        }
                    }).then(response => {
                        this.$emit('characters-changed');
                        this.hide();
                    }).catch(e => {
                        console.error({e})
                    })
                }
            }
        },
    }
</script>

<style scoped>

</style>