<template>
    <ul class="nav">
        <li class="head">
            <router-link :to="{name: 'dashboard'}">
                Storyline
            </router-link>
        </li>
        <li>
            <router-link :to="{name: 'storyline'}">
                My Storyline
            </router-link>
        </li>
        <li>
            <router-link :to="{name: 'characters'}">
                Characters
            </router-link>
        </li>
        <li>
            <router-link :to="{name: 'scenes'}">
                Scenes
            </router-link>
        </li>
    </ul>
</template>

<script>
    export default {
        name: "Navigation"
    }
</script>

<style>

</style>