<template>
    <div class="card scene" v-if="scene" :class="{'panel-open': characterPanelShowing}" ref="card">
        <div class="buttons">
            <a href="#" @click.prevent="viewCharacters"><i class="fas fa-users"></i></a>
        </div>
        <div class="panels">
            <div class="panel">
                <div class="card-header">
                    <h2>{{ scene.name }}</h2>
                </div>
                <div class="card-content" :class="{'expanded': contentExpanded }" v-html="scene.body">
                </div>
                <div class="content-fade">
                    <div class="reveal">
                        <a href="#" @click.prevent="showContent" :class="{'clicked': contentExpanded }"><i
                                class="fas fa-angle-double-down"></i></a>
                    </div>
                </div>
                <div class="footer">
                    <tag v-for="tag in scene.tags"
                         :key="tag.id"
                         :object="scene"
                         :tag="tag.tag"
                         :interactive="false"/>
                </div>
            </div>
            <div class="panel short behind" :class="{ 'obscured': !characterPanelShowing }" ref="characters">
                <h3>Scene Characters</h3>
                <p v-for="character in scene.characters">{{ character.name }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SceneCard",
        props: {
            scene: Object,
        },
        data() {
            return {
                characterPanelShowing: false,
                contentExpanded: false,
            }
        },
        methods: {
            viewCharacters() {
                this.characterPanelShowing = !this.characterPanelShowing;
            },
            showContent() {
                this.contentExpanded = !this.contentExpanded;
                if (!this.contentExpanded) {
                    this.$refs.card.scrollIntoView();
                }
            },
        }
    }
</script>

<style scoped>

</style>