<template>
    <div class="form modal">
        <div class="modal-header">
            <h1>Write a New Scene</h1>
            <button class="close-modal" @click="close"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-content">
            <scene-form
                    :route="saveUrl"
                    :scene="scene"
                    ref="form"
                    v-on:saved="viewNewScene">
            </scene-form>
        </div>
        <div class="modal-footer">
            <button @click="submit" class="btn-primary">Save Scene</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Create",
        components: {
            'scene-form': require("../../forms/Scene.vue").default
        },
        data() {
            return {
                scene: {
                    name: '',
                    body: '',
                },
                saveUrl: '/data/scenes/',
            }
        },
        methods: {
            close() {
                this.$router.back();
            },
            viewNewScene(scene) {
                this.$router.replace({name: 'scene.view', params: {id: scene.id}});
            },
            submit() {
                this.$refs.form.submit();
            },
        }
    }
</script>

<style>

</style>