<template>
    <div class="page-component table">
        <h1>Scenes</h1>
        <div class="button-row">
            <button class="btn btn-primary" @click="newScene">
                <i class="fas fa-plus"></i> New Scene
            </button>
        </div>
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Tags</th>
                <th></th>
            </tr>
            </thead>
            <draggable tag="tbody" handle=".handle" :list="scenes">
            <tr v-for="scene in scenes">
                <td class="w-4"><i class="fas fa-align-justify handle"></i></td>
                <td class="w-2/6">{{ scene.name }}</td>
                <td class="w-2/6">
                    <tag v-for="tag in scene.tags"
                         :key="tag.id"
                         :object="scene"
                         :tag="tag.tag"
                         :remove-route="untagRoute(scene)"
                         v-on:tags-changed="changeTags"/>

                    <add-tag :object="scene"
                             :add-route="tagRoute(scene)"
                             v-on:tags-changed="changeTags"/>
                </td>
                <td class="w-1/6">
                    <button class="btn-primary" @click="viewScene(scene)">
                        <i class="fas fa-eye"></i>
                    </button>
                </td>
            </tr>
            </draggable>
        </table>

        <transition name="slide-up" mode="in-out">
            <router-view></router-view>
        </transition>
    </div>
</template>

<script>
    import draggable from 'vuedraggable'

    export default {
        name: "SceneList",
        components: {
            draggable,
        },
        data() {
            return {
                scenes: []
            }
        },
        mounted() {
            this.loadData();
        },
        beforeRouteUpdate(to, from, next) {
            this.loadData();
            next();
        },
        methods: {
            loadData() {
                axios.get('/data/scenes').then(response => {
                    this.scenes = response.data;
                }).catch(e => {
                    console.error({e})
                })
            },
            newScene() {
                this.$router.push({name: 'scene.create'});
            },
            viewScene(scene) {
                this.$router.push({name: 'scene.view', params: {id: scene.id}});
            },
            tagRoute(scene) {
                return "/data/scenes/" + scene.id + "/tag/"
            },
            untagRoute(scene) {
                return "/data/scenes/" + scene.id + "/untag/"
            },
            changeTags() {
                this.loadData();
            }
        }
    }
</script>

<style>

</style>