<template>
    <div class="form modal" v-if="scene">
        <div class="modal-header">
            <h1>Scene Detail</h1>
            <button class="close-modal" @click="close"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-content flex">
            <div class="w-2/3">
                <scene-form
                        :route="saveUrl"
                        :scene="scene"
                        ref="form"
                        v-on:saved="handleSaved">
                </scene-form>
            </div>
            <div class="w-1/3 pl-4">
                <h2 class="label">Tags</h2>
                <div class="tags">
                    <tag v-for="tag in scene.tags"
                         :key="tag.id"
                         :object="scene"
                         :tag="tag.tag"
                         :remove-route="untagRoute()"
                         v-on:tags-changed="reload"/>

                    <add-tag :object="scene"
                             :add-route="tagRoute()"
                             v-on:tags-changed="reload"/>
                </div>

                <h2 class="label">Characters</h2>
                <div class="characters">
                    <character v-for="character in scene.characters"
                               :key="character.id"
                               :character="character"
                               :remove-route="removeCharacterRoute()"
                               v-on:characters-changed="reload"/>

                    <add-character :scene="scene"
                                   :add-route="addCharacterRoute()"
                                   v-on:characters-changed="reload"/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="flex mb-4">
                <div class="w-1/2">
                    <button @click="deleteScene" class="btn-danger"><i class="fas fa-trash"></i></button>
                </div>
                <div class="w-1/2 text-right">
                    <button @click="submit" class="btn-primary">Save Scene</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SceneView",
        components: {
            'scene-form': require("../../forms/Scene.vue").default
        },
        data() {
            return {
                scene: {},
                saveUrl: '/data/scenes/' + this.$route.params.id + '/',
            }
        },
        mounted() {
            this.loadData()
        },
        methods: {
            loadData() {
                axios.get('/data/scenes/' + this.$route.params.id + '/').then(response => {
                    this.scene = response.data;
                }).catch(e => {
                    console.error({e})
                })
            },
            deleteScene() {
                axios.delete('/data/scenes/' + this.$route.params.id + '/').then(response => {
                    this.close();
                }).catch(e => {
                    console.error({e})
                })
            },
            close() {
                this.$router.back();
            },
            handleSaved(scene) {
                this.close();
            },
            submit() {
                this.$refs.form.submit();
            },
            tagRoute() {
                return "/data/scenes/" + this.scene.id + "/tag/"
            },
            untagRoute() {
                return "/data/scenes/" + this.scene.id + "/untag/"
            },
            addCharacterRoute() {
                return "/data/scenes/" + this.scene.id + "/character/"
            },
            removeCharacterRoute() {
                return "/data/scenes/" + this.scene.id + "/character/"
            },
            reload() {
                this.loadData();
            }
        }
    }
</script>

<style>
    .tags, .characters {
        margin-bottom: 2em;
    }
</style>