button {
  @apply font-bold py-2 px-4 rounded;

  &.btn-primary {
    @apply bg-teal text-white;

    &:hover {
      @apply bg-teal-dark;
    }
  }

  &.btn-danger {
    @apply bg-red-dark text-white;

    &:hover {
      @apply bg-red-darker;
    }
  }
}
