.card {
  @apply max-w-sm rounded overflow-hidden shadow-lg p-1 my-10 relative;
  transition: max-width .25s ease-out;

  .buttons {
    @apply absolute p-4;
    top: 0;
    right: 0;
    z-index: 9;

    a {
      @apply text-grey;

      &:hover {
        @apply text-grey-darker;
      }
    }
  }

  .panels {
    @apply pb-4 pt-8 flex;

    .panel {
      @apply max-w-sm flex-1 bg-white px-4;
      z-index: 2;
      transition: margin-left .25s ease-out;

      &.short {
        @apply max-w-xs border-l border-grey-light;
      }

      &.behind {
        z-index: 1;
      }

      &.obscured {
        margin-left: -20rem;
      }
    }
  }

  &.scene {
    @apply mx-auto;

    h3 {
      line-height: 30px;
    }

    .card-header {
      h2 {
        @apply tracking-tight font-medium;
      }
    }

    .card-content {
      @apply flex-1 bg-white overflow-hidden;
      height: 200px;
      transition: height .5s ease-out;

      &.expanded {
        @apply overflow-y-scroll;
        height: 650px !important;
        margin-bottom: 40px;
      }
    }

    .content-fade {
      @apply w-full relative;
      height: 40px;
      margin-top: -40px;
      background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);

      .reveal {
        @apply block shadow-md rounded-full bg-grey-light text-center;

        margin: 0 auto;
        width: 30px;
        height: 30px;
        line-height: 30px;

        a {
          @apply text-grey-dark block;
          transition: transform .25s .5s linear;

          &.clicked {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &.panel-open {
    @apply max-w-lg;
  }
}