form {
  .form-field {
    @apply mb-4;

    label {
      @apply block text-grey-darker text-sm font-bold mb-2;
    }

    input[type="text"] {
      @apply shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight;

      &:focus {
        @apply outline-none shadow-outline;
      }
    }

    .mce-tinymce {
      @apply shadow appearance-none border rounded py-1 px-3 bg-white;

      .mce-toolbar-grp {
        @apply bg-white;

        .mce-btn {
          @apply bg-white;
        }
      }

      &.mce-fullscreen {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
}