.tag, .character {
  @apply text-white p-1 px-2 m-1 rounded-full inline-block leading-tight font-light;
  background: $dim;

  &:hover {
    background: $bright;
  }

  a {
    @apply text-white no-underline;
  }
}