.modal {
  @apply fixed p-0 bg-white shadow-lg;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;

  .modal-header {
    @apply p-4 bg-blue-lighter relative;

    .close-modal {
      @apply absolute pin-r pin-t p-0 m-4 text-xl text-blue;

      &:hover {
        @apply text-blue;
      }
    }
  }

  .modal-content {
    @apply p-4;
  }

  .modal-footer {
    @apply p-4 bg-blue-lightest fixed w-full pin-b;
  }
}

.modal-small {
  @apply absolute bg-white shadow-md rounded border-blue-lightest border p-2;
  width: 200px;

  .modal-search {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-blue-darker bg-blue-lightest leading-tight;

    &:focus {
      @apply outline-none shadow-outline;
    }
  }

  .search-list {
    @apply text-blue-darker;

    .item {
      @apply p-2;

      a {
        @apply text-blue-darker no-underline;
      }

      &:hover {
        @apply bg-teal-lightest;
      }
    }

    .selected {
      @apply font-bold;

      .hidden {
        display: inline-block;
      }
    }
  }
}