table {
  @apply w-full;

  tr {
     @apply border-blue-lighter border-b;
  }

  thead {
    tr {
      @apply bg-blue-lightest text-blue-dark;

      th {
        @apply p-4 uppercase font-thin font-serif text-left;
      }
    }
  }

  tbody {
    tr {
      @apply bg-white;

      &:hover {
        @apply bg-blue-lightest;
      }

      td {
        @apply p-4 font-sans;

        &.tags {
          max-width: 40%;
        }
      }
    }
  }
}