h1 {
  @apply font-serif font-bold text-blue text-xl leading-tight;
}

h2 {
  @apply tracking-tight leading-tight mb-4 font-medium;

  &.label {
    @apply block text-grey-darker text-sm font-bold mb-2;
  }
}

h3 {
  @apply tracking-tight leading-tight font-medium;
}

p {
  @apply my-2;
}