{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Storyline</title>
        {% render_bundle 'main' 'css' %}
    </head>
    <body>
        <div id="app" class="container">
            <div class="header">
                <navigation></navigation>
            </div>
            <div class="content">
                <router-view class="view"></router-view>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.10/tinymce.min.js"></script>
        {% render_bundle 'main' 'js' %}
    </body>
</html>
