<template>
    <div class="page-component">
        <h1>Storyline</h1>

        <transition name="drop-in" mode="in-out">
            <router-view></router-view>
        </transition>
    </div>
</template>

<script>
    export default {
        name: "Dashboard"
    }
</script>

<style>

</style>